<%- include('../partials/header') %>
<%- include('../partials/navbar') %>



<main class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Quote</th>
      </tr>
    </thead>

    <tr>
      <td><%=tracks.author%></td>
      <td><%=tracks.text%></td>
    </tr>

  </table>
  <a href="/blog/<%= tracks._id %>/update " class="btn btn-success btn-small mt-2">Update</a>&nbsp
  <form class="d-inline-block" action="/blog/<%= tracks._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger btn-small mt-2">Delete</button>
  </form>

</main>

<%- include('../partials/footer') %>