<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 


<main class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-6">Update Blog</h1>
            <form action="/blog/<%= tracks._id %>?_method=PATCH" method="POST">
                <div class="mb-3">
                    <label for="fname" class="form-label">Tilte</label>
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name" value="<%= tracks.fname %> ">
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Author</label>
                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" value="<%= tracks.lname %> ">
                </div>
                
                <div class="mb-3">
                    <label for="desc" class="form-label">Blog</label>
                    <textarea class="form-control" name="desc" id="desc" rows="5"><%= tracks.desc %></textarea>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="<%= tracks.email %>">
                </div>
               
               
                <button type="submit" class="btn btn-success btn-small">Submit</button>
            </form>
        </div>
    </div>
</main>
<%- include("../partials/footer") %>
